nbproject/private
build
*/build
*/nbproject/private
IndepmodClassNotation/coverage
coverage.properties
documentation/*/*.pdf
documentation/*/*.log
documentation/*/*.aux
documentation/*/*.dvi
documentation/*/*.blg
documentation/*/*.bbl
documentation/*/*.out
documentation/*/*.lot
documentation/*/*.toc
documentation/*/*.lof
documentation/bachelor thesis/k336_thesis